<div class="card">
	<div class="card-header card-header-rose card-header-icon">
		<div class="card-icon">
			<i class="material-icons">search</i>
		</div>
		<h4 class="card-title">Search Users</h4>
	</div>
	<div class="card-body">
		<form #usersSearchForm="ngForm" (ngSubmit)="onSubmit(usersSearchForm)" id="usersSearchForm">
			<br>
			<div class="row justify-content-center aline-center-horizon">

				<div class="col-sm-12 col-md-3 mr-auto ml-auto">
					<mat-form-field class="example-full-width has-label">
						<input type="text" name="emailUser" matInput placeholder="User Email" i18n-placeholder
							[(ngModel)]="userSearch.email">
					</mat-form-field>
				</div>

				<!-- <div class="col-sm-12 col-md-1 mr-auto ml-auto">
					<div class="togglebutton">
						<label style="color: #757575">
							Active:
							<input type="checkbox" checked="" name="active" [(ngModel)]="userSearch.active">
							<span class="toggle"></span>

						</label>
					</div>
				</div> -->

				<div class="col-sm-12 col-md-3 mr-auto ml-auto">

					<mat-form-field>
						<mat-select placeholder="User Role" i18n-placeholder name="role" id="role"
							[(ngModel)]="userSearch.roleId">
							<mat-option *ngFor="let rol of roleList" [value]="rol.rolId">
								{{ rol.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col-md-3 mr-auto ml-auto">
					<button mat-raised-button type="button" class="btn btn-danger mr-3"
						(click)="clearSearchForm(usersSearchForm)">
						Clear
					</button>
					<button mat-raised-button type="submit" class="btn btn-rose">
						Search
					</button>
					<div class="clearfix"></div>
				</div>

			</div>
			<br>

		</form>
	</div>
</div>