button.btn.btn-info.btn-link {
    padding: 0 0 0 0;
}

div.card-body {
    padding: 0 0 0 0;
}

.mat-option:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #e91e63;
    background: #e91e63 !important;
    color: #fff !important;
}

.mat-elevation-z8 {
    height: 400px;
    overflow: auto;
}

.mat-elevation-z8 table td {
    cursor: pointer;
}

table {
    width: 100%;
}

.mat-focused .mat-form-field-label,
.card-body .row.text-right div.col {
    color: #e91e63 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #e91e63 !important;
}

.form-control,
.is-focused .form-control {
    background-image: linear-gradient(to top, #e91e63 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.card-body .row.text-right div.col a {
    color: white;
}

/* .mat-select-value {
    text-align: center !important;
} */

button i.material-icons#save-button {
    font-size: 2.1rem !important;
    color: #e91e63 !important;
}

h4 {
    color: black;
}