<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
				<div class="card card-stats">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">
							<i class="material-icons">credit_card</i>
						</div>
						<!-- <p class="card-category">Bookings</p> -->
						<a routerLink="/payment-concepts" class="card-title">
							<h3>Payment Concepts</h3>
						</a>
					</div>
					<div class="card-footer">
						<div class="stats">
							<!-- <i class="material-icons text-danger">warning</i> -->
							<!-- <a href="#pablo">Get More Space...</a> -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
				<div class="card card-stats">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">
							<i class="material-icons">link</i>
						</div>
						<!-- <p class="card-category">Website Visits</p> -->
						<a routerLink="/payment-gateway" class="card-title">
							<h3>Payment Gateway</h3>
						</a>
					</div>
					<div class="card-footer">
						<div class="stats">
							<!-- <i class="material-icons">local_offer</i> Tracked from Google Analytics -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
				<div class="card card-stats">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">
							<i class="material-icons">history</i>
						</div>
						<!-- <p class="card-category">Revenue</p> -->
						<a routerLink="/payment-history" class="card-title">
							<h3>Payment History</h3>
						</a>
					</div>
					<div class="card-footer">
						<div class="stats">
							<!-- <i class="material-icons">date_range</i> Last 24 Hours -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
				<div class="card card-stats">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">

							<i class="material-icons">assessment</i>
						</div>
						<a routerLink="/payment-states" class="card-title">
							<h3>Payment States</h3>
						</a>
					</div>
					<div class="card-footer">
						<div class="stats">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
				<div class="card card-stats">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">
							<i class="material-icons">account_tree</i>
						</div>
						<a routerLink="/payment-workflow" class="card-title">
							<h3>Payment Workflow</h3>
						</a>
					</div>
					<div class="card-footer">
						<div class="stats">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
				<div class="card card-stats">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">
							<i class="material-icons">file_copy</i>
						</div>
						<a routerLink="/payment-csv" class="card-title">
							<h3>Payment .CSV</h3>
						</a>
					</div>
					<div class="card-footer">
						<div class="stats">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>