<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto">
				<div class="card" style="width: auto !important;">
					<form [formGroup]="register">
						<div class="card-header card-header-rose card-header-icon">
							<div class="card-icon">
								<i class="material-icons">mail_outline</i>
							</div>
							<h4 class="card-title" i18n="Card title for a password modification@@passwordModificaiton">
								Password Modification</h4>
						</div>
						<div class="card-body">
							<br>

							<mat-form-field class="example-full-width">
								<input type="text" matInput readonly placeholder="User Login ID *" formControlName="userId">
							</mat-form-field>

							<mat-form-field class="example-full-width has-label"
								[ngClass]="{'has-success':validPasswordRegister===true}">
								<input type="password" matInput id="password" placeholder="Old Password *" i18n-placeholder
									formControlName="oldPassword" (ngModelChange)="passwordValidationRegister($event)">
								<mat-error *ngIf="emailFormControl.hasError('required')">
									Old Password <strong>required</strong>
								</mat-error>
								<!-- <app-field-error-display [displayError]="isFieldValid(register, 'password')"
								errorMsg="Enter a valid password.">
							</app-field-error-display> -->
							</mat-form-field>

							<mat-form-field class="example-full-width has-label"
								[ngClass]="{'has-success':newValidPasswordRegister===true}"
								[ngClass]="displayFieldCss(register, 'password')">
								<input type="password" matInput id="newPassword" placeholder="New Password - Minimum 6 characters *"
									i18n-placeholder formControlName="password" (ngModelChange)="newPasswordValidationRegister($event)">
								<mat-error *ngIf="emailFormControl.hasError('required')">
									New Password <strong>required</strong>
								</mat-error>
								<!-- <app-field-error-display [displayError]="isFieldValid(register, 'confirmPassword')"
									errorMsg="These passwords don't match. Try again!">
								</app-field-error-display> -->
							</mat-form-field>

							<mat-form-field class="example-full-width has-label"
								[ngClass]="{'has-success':validConfirmPasswordRegister===true}"
								[ngClass]="displayFieldCss(register, 'password')">
								<input type="password" matInput id="confirmPassword" placeholder="Confirm Password *" i18n-placeholder
									(ngModelChange)="confirmPasswordValidationRegister($event)" formControlName="confirmPassword">
								
								<app-field-error-display [displayError]="isFieldValid(register, 'confirmPassword')"
									errorMsg="These passwords don't match. Try again!">
								</app-field-error-display>
							</mat-form-field>

						</div>
						
							<!-- <button mat-raised-button type="submit" class="btn btn-rose" (click)="onRegister()">Confirm</button> -->

						<div class="card-footer" style="display: inherit;">
							<div class="row">
								<div class="col-md-12 right-align">
									<button mat-raised-button type="submit" class="btn btn-rose" (click)="onRegister()">Confirm</button>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>