<div class="wrapper wrapper-full-page">
  <div class="page-header lock-page header-filter"
    style="background-image: url('./assets/img/lock.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card card-profile card-hidden">
            <div class="card-header card-header-danger text-center">
              <h4> 403 - Forbidden!</h4>
            </div>
            <div class="card-body ">
              <h4 class="card-title">You can't go ahead :(</h4>
            </div>

            <div class="card-footer justify-content-center">
              <span class="text-left">
                Check if you have authorization to access it with the administrator.
              </span>
              <button class="btn btn-default btn-sm mat-raised-button btn-margin" (click)="backClicked()"> <i
                  class="material-icons">fast_rewind</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>