<div class="main-content">
  <div class="container-fluid">

    <app-education-search (newSearch)="getFilteredEduType($event)"></app-education-search>
    <app-education-edit [eduTypeToEdit]="selectedEduType" [eduTypes]="eduTypeList"
      (newEduTypeList)="onChangePage($event)"></app-education-edit>

    <div class="row col-xl-11 col-md-11 col-sm-11 mx-auto">
      <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i class="material-icons">list</i>
          </div>
          <h4 i18n="the card title (Terms)" class="card-title ">Education Type List</h4>
        </div>

        <span class="mx-auto" *ngIf="!eduTypeList; else table">
          <img src="./assets/img/spinner.gif">
        </span>

        <ng-container table>
          <div class="card-body mr-5 ml-5">
            <div class="table-responsive">

              <table class="table">
                <thead *ngIf="eduTypeList">
                  <tr>
                    <th *ngFor="let header of tableHeader" scope="col" class="text-center">{{ header }}</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let type of pageOfItems | slice:0:10">
                    <td class="text-center">{{type.name}}</td>
                    <td class="text-center">{{type.levelName}}</td>
                    <td class="text-center">
                      <button (click)="selectEduType(type)" type="button" rel="tooltip"
                        class="btn btn-success btn-link">
                        <i class="material-icons">edit</i>
                      </button>
                    </td>
                  </tr>

                </tbody>
              </table>

            </div>
            <div class="d-flex justify-content-center mt-4">
              <jw-pagination [items]="eduTypeList" [pageSize]="10" (changePage)="onChangePage($event)">
              </jw-pagination>
            </div>

          </div>
        </ng-container>

      </div>

    </div>
  </div>
</div>