<div class="row">
	<div class="col-xl-12 col-md-12 col-sm-12 mr-auto ml-auto">
		<div class="card">
			<div class="card-header card-header-rose card-header-icon">
				<div class="card-icon">
					<i class="material-icons">youtube_searched_for</i>
				</div>
				<h4 class="card-title">Search</h4>
			</div>

			<div class="card-body">
				<form #rolmenusearchForm="ngForm" (ngSubmit)="onSubmit(rolmenusearchForm)" id="rolmenusearchForm">

					<div class="row">

						<div class="col-xl-5 col-md-5 col-sm-12 mr-auto ml-auto ml-2 ">
							<mat-form-field class="example-full-width">
								<mat-select placeholder="Role" i18n-placeholder name="role"
									[(ngModel)]="rolmenusearch.rolId">
									<mat-option *ngFor="let role of roleList" [value]="role.rolId">
										{{ role.name }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="col-xl-5 col-md-5 col-sm-12 mr-auto ml-auto ml-2">
							<mat-form-field class="example-full-width">
								<mat-select placeholder="Sub Menu" i18n-placeholder name="menu"
									[(ngModel)]="rolmenusearch.subMenuId">
									<mat-option *ngFor="let sub of subMenuList" [value]="sub.subMenuId">
										{{ sub.title }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

					</div>
					<br>
					<div class="row float-right mr-5">
						<div class="col-xl-4 col-md-4 col-sm-4 float-right d-flex">
							<a mat-raised-button (click)="clearField(rolmenusearchForm)" class="btn btn-warning mr-3">
								Clear
							</a>
							<button [disabled]="isSearching" type="submit" mat-raised-button class="btn btn-rose">
								<i class="material-icons fa-spin" *ngIf="isSearching">refresh</i>
								Search
							</button>
							<div class="clearfix"></div>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>