.btn-width {
  min-width: 9em !important;
}

.limitedHeightApplicants {
  height: 15em;
  overflow-y: hidden;
}

#searchButton {
  padding: 8px 15px !important;
  margin: 12px 0px 0px 0px !important;
}

.buttonPosition {
  padding-bottom: 10px;
  padding-top: 1.5em !important;
  padding-right: 5px;
  padding-left: 22px;
}

.profile-link {
  color: black;
}

.profile-link:hover {
  font-weight: bolder;
  color: #ec407a
}

.smallBtn {
  font-size: 1% !important;
  width: 1% !important;
  padding: 10px 30px 10px 11px !important;
  margin: auto !important;
}