<div class="main-content">
  <div class="container-fluid">
    <div class="wrapper wrapper-full-page">
      <div class="page-header pricing-page header-filter"
        style="background-image: url('./assets/img/bg-pricing.jpg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
        <div class="container">
          <div class="row">
            <div class="col-md-4 ml-auto mr-auto">
              <div class="card card-profile card-hidden">
                <div class="card-header card-header-danger text-center">
                  <h4> 404 - Page not Found!</h4>
                </div>
                <div class="card-body ">
                  <h4 class="card-title">Oopsie! We can't find what you're looking for</h4>
                </div>
                <div class="card-footer justify-content-center">
                  <span class="text-left">
                    Check if you've typed the correct URL.
                  </span>
                  <button class="btn btn-default btn-sm mat-raised-button btn-margin" (click)="backClicked()"> <i
                      class="material-icons">fast_rewind</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>