<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<app-password-search [roleList]="roleList"></app-password-search>
				
				<br>
				<div class="card">
					<div class="card-header card-header-rose card-header-icon">
						<div class="card-icon">
							<i class="material-icons">credit_card</i>
						</div>
						<h4 class="card-title">Users Password Reset</h4>
					</div>
					<div class="card-body">
						<form #usersForm="ngForm" (ngSubmit)="onSubmit(usersForm)" id="usersForm">
							<br>
							<div class="row justify-content-center aline-center-horizon">
								
								<div class="col-sm-12 col-md-3 mr-auto ml-auto">
									<mat-form-field class="example-full-width has-label">
										<input type="text" name="email" matInput placeholder="User Email"
											i18n-placeholder [(ngModel)]="user.email" readonly required>
									</mat-form-field>
								</div>								

								<div class="col-sm-12 col-md-3 mr-auto ml-auto">
									<div class="togglebutton">
										<label style="color: #757575">
											Active:
											<input type="checkbox" checked="" name="active"
												[(ngModel)]="user.active" disabled>
											<span class="toggle"></span>

										</label>
									</div>
								</div>

								<div class="col-sm-12 col-md-3 mr-auto ml-auto">								

									<mat-form-field>
										<mat-select placeholder="User Role" i18n-placeholder name="role"
											id="role" [(ngModel)]="user.roleId" disabled required>
											<mat-option *ngFor="let rol of roleList" [value]="rol.rolId">
												{{ rol.name }}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>

							</div>
							<br>

							<div class="row justify-content-center">
								<div class="col-md-11 right-align pt-3 pb-3">
									<!-- (click)="saveMenu()" -->
									<button mat-raised-button type="button" class="btn btn-danger mr-3"
										(click)="clearForm(usersForm)">
										Cancel
									</button>
									<button mat-raised-button type="submit" class="btn btn-rose">
										{{btnName}}
									</button>
									<div class="clearfix"></div>
								</div>
							</div>

						</form>
					</div>
				</div>

				<app-basic-table (objectSelected)="setObjectSelected($event)" [configTable]="configTable">
				</app-basic-table>

			</div>
		</div>
	</div>
</div>