.main-content {
    padding-top: 0;
}

.text-primary {
    color: #e91e63 !important;
}

.mt-7 {
    margin: 4em 0 0 0 !important;
}

.card .card-body {
    padding: 35px 95px 35px 95px;
    position: relative;
}