.aline-center-horizon {
    align-items: baseline;
}

.mat-option:hover {
    background: #E91E63 !important;
    color: white;
}

.mat-option.mat-selected {
    background: #E91E63 !important;
    color: white;
}