<div class="row col-xl-11 col-md-11 col-sm-11 mx-auto">
  <div class="card">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">account_tree</i>
      </div>
      <h4 class="card-title">Payment Workflow Register</h4>
    </div>

    <div class="card-body">
      <form [formGroup]="workflowForm">

        <div class="row ml-5">

          <div class="col-xl-5 col-md-5 col-sm-5" hidden>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="id" formControlName="id">
            </mat-form-field>
          </div>

          <div class="col-xl-5 col-md-5 col-sm-12 ml-2">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Current State" formControlName="curentState">
                <mat-option *ngFor="let currentState of stateList" [value]=currentState.id>
                  {{currentState.stateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xl-1"></div>

          <div class="col-xl-5 col-md-5 col-sm-12 ml-2">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Next State" formControlName="nextState">
                <mat-option *ngFor="let nextState of stateList" [value]=nextState.id>
                  {{nextState.stateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div class="row float-right mr-5">
          <div class="col-xl-4 col-md-4 col-sm-4 float-right mr-5 d-flex">
            <button mat-raised-button [disabled]="spinner" (click)="onSubmit()" class="btn btn-rose">
              <i class="material-icons fa-spin" *ngIf="spinner">refresh</i>
              Submit
            </button>
            <a mat-raised-button (click)="clearField()" class="btn btn-rose">
              Clear
            </a>
            <div class="clearfix"></div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>