<!-- <div class="row justify-content-center"> -->
<div class="col-lg-12 text-center">
	<h5 class="info-text font-weight-bold">Background Information</h5>
</div>
<form [formGroup]="profileBackground">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<!-- <div class="row"> -->
			<p>Have you ever applied for any type of immigration into
				Canada/USA? (e.g. New Express Entry)</p>
			<!-- <div class="col-sm-12 checkbox-radios"> -->


			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="appliedVisaCan" value="true"
						formControlName="appliedVisaCan">
					Yes
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
			</div>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="appliedVisaCan" value="false"
						formControlName="appliedVisaCan">
					No
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
				<br /><br />
			</div>
			<!-- </div> -->
			<!-- </div> -->

		</div>


		<div class="col-lg-10">

			<p>Have you ever been refused a Visa for Canada/USA or any other
				country?</p>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="prev_Visa_Rejection" value="true"
						formControlName="prev_Visa_Rejection">
					Yes
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
			</div>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="prev_Visa_Rejection" value="false"
						formControlName="prev_Visa_Rejection" checked>
					No
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
				<br /><br />
			</div>

		</div>

		<div class="col-lg-10">

			<p>Were you ever removed from Canada/USA or any other country?</p>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="radios3" id="radios5" value="true">
					Yes
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
			</div>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="radios3" id="radios6" value="false" checked>
					No
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
				<br /><br />
			</div>

		</div>

		<div class="col-lg-10">

			<p>Have you ever visited Canada/USA before?</p>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="visitedCanUSA" id="radios7" value="true"
						formControlName="visitedCanUSA">
					Yes
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
			</div>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="visitedCanUSA" id="radios8" value="false"
						formControlName="visitedCanUSA" checked>
					No
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
				<br /><br />
			</div>

		</div>

		<div class="col-lg-10">

			<p>Are you currently residing in Canada or the USA?</p>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="residingCanUSA" id="radios9" value="true"
						formControlName="residingCanUSA">
					Yes
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
			</div>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="residingCanUSA" id="radios10" value="false"
						formControlName="residingCanUSA" checked>
					No
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
				<br /><br />
			</div>

		</div>

		<div class="col-lg-10">

			<p>Do you have a valid Canadian study permit or visitor visa?</p>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="validCanStayPermit" id="radios11" value="true"
						formControlName="validCanStayPermit">
					Yes
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
			</div>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="validCanStayPermit" id="radios12" value="false"
						formControlName="validCanStayPermit" checked>
					No
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
				<br /><br />
			</div>

		</div>

		<div class="col-lg-10">

			<p>Do you have a valid US study visa or visitor visa?</p>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="validUSAStayPermit" id="radios11" value="true"
						formControlName="validUSAStayPermit">
					Yes
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
			</div>
			<div class="form-check form-check-radio">
				<label class="form-check-label">
					<input class="form-check-input" type="radio" name="validUSAStayPermit" id="radios11" value="false"
						formControlName="validUSAStayPermit" checked>
					No
					<span class="circle">
						<span class="check"></span>
					</span>
				</label>
				<br /><br />
			</div>

		</div>

		<div class="col-lg-10">

			<mat-form-field class="example-full-width has-label"
				[ngClass]="displayFieldCss(profileBackground, 'backComments')">
				<textarea matInput rows="2" name="backComments" formControlName="backComments" i18n-placeholder
					placeholder="Provide us a comment if you answer YES in any of those questions." required></textarea>
			</mat-form-field>

		</div>
	</div>
</form>
<!-- </div> -->