<div class="card">
  <div class="card-header card-header-icon card-header-rose">
    <div class="card-icon">
      <i class="material-icons">assignment</i>
    </div>
    <h4 i18n="the screen title (Edit Profile)" class="card-title">Edit Profile -
      <small class="category">Complete your profile</small>
    </h4>
    <!-- <span i18n="the screen sub-title (Complete your profile)" class="category">Complete your profile</span> -->
  </div>
  <div class="card-body">
    <form #agentForm="ngForm" (ngSubmit)="onSubmit(agentForm)" id="agentForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label i18n="the form label (First Name)" for="firstName">First Name *</label>

            <input type="text" class="form-control" name="firstName" #agentFirstName="ngModel"
              [ngClass]="{'is-invalid':agentFirstName.errors && agentFirstName.touched}"
              [ngModel]="agentToEdit ==null? '' : agentToEdit.agent.firstName" minlength="2" required>

            <div i18n="the warning message (First name required)" [hidden]="!agentFirstName.errors?.required"
              class="invalid-feedback">
              First name required
            </div>

            <div i18n="the warning message (Must be at least 2 characters)" [hidden]="!agentFirstName.errors?.minlength"
              class="invalid-feedback">
              Must be at least 2 characters
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <label i18n="the form label (Last Name)" for="lastName">Last Name *</label>
            <input type="text" class="form-control" name="lastName" #agentLastName="ngModel"
              [ngClass]="{'is-invalid':agentLastName.errors &&agentLastName.touched}"
              [ngModel]="agentToEdit ==null? '' : agentToEdit.agent.lastName" minlength="2" required>

            <div i18n="the warning message (Last name required)" [hidden]="!agentLastName.errors?.required"
              class="invalid-feedback">
              Last name required
            </div>

            <div i18n="the warning message (Must be at least 2 characters)" [hidden]="!agentLastName.errors?.minlength"
              class="invalid-feedback">
              Must be at least 2 characters
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label i18n="the form label (Salutation)" for="salutation">Salutation *</label>
            <input type="text" class="form-control" name="salutation" #agentSalutation="ngModel"
              [ngClass]="{'is-invalid':agentSalutation.errors && agentSalutation.touched}"
              [ngModel]="agentToEdit ==null? '' : agentToEdit.agent.salutation" minlength="2" required>

            <div i18n="the warning message (Salutation required)" [hidden]="!agentSalutation.errors?.required"
              class="invalid-feedback">
              Salutation required
            </div>

            <div i18n="the warning message (Must be at least 2 characters)"
              [hidden]="!agentSalutation.errors?.minlength" class="invalid-feedback">
              Must be at least 2 characters
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label i18n="the form label (Email Address)" for="email">Email Address *</label>
            <input type="text" class="form-control" name="email" #agentEmail="ngModel"
              [ngClass]="{'is-invalid':agentEmail.errors && agentEmail.touched}"
              [ngModel]="agentToEdit ==null? '' : agentToEdit.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)+$"
              required>
            <!-- pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required> -->

            <div i18n="the warning message (Email required)" [hidden]="!agentEmail.errors?.required"
              class="invalid-feedback">
              Email required
            </div>

            <div i18n="the warning message (Email is not valid)" [hidden]="!agentEmail.errors?.pattern"
              class="invalid-feedback">
              Email is not valid
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label i18n="the form label (Phone)" for="phone">Phone *</label>
            <input type="text" class="form-control" name="phone" #agentPhone="ngModel"
              [ngClass]="{'is-invalid':agentPhone.errors && agentPhone.touched}"
              [ngModel]="agentToEdit ==null? '' : agentToEdit.agent.phone" minlength="10" required>

            <div i18n="the warning message (Phone required)" [hidden]="!agentPhone.errors?.required"
              class="invalid-feedback">
              Phone required
            </div>

            <div i18n="the warning message (Must be at least 10 characters)" [hidden]="!agentPhone.errors?.minlength"
              class="invalid-feedback">
              Must be at least 10 characters
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label i18n="the form label (Passport)" for="passport">Passport *</label>
            <input type="text" class="form-control" name="passportNumber" #agentPassport="ngModel"
              [ngClass]="{'is-invalid':agentPassport.errors && agentPassport.touched}"
              [ngModel]="agentToEdit ==null? '' : agentToEdit.agent.passportNumber"
              pattern="^(?!^0+$)[a-zA-Z0-9]{3,20}$" required>

            <div i18n="the warning message (Passport required)" [hidden]="!agentPassport.errors?.required"
              class="invalid-feedback">
              Passport required
            </div>

            <div i18n="the warning message (Passport is not valid)" [hidden]="!agentPassport.errors?.pattern"
              class="invalid-feedback">
              Passport is not valid
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 select-field">
          <mat-form-field class="example-full-width vertical-Citizen">
            <mat-select i18n-placeholder="the list of countries (Country)" placeholder="Country" name="citizenshipId"
              [ngClass]="{'is-invalid':citizenshipId.errors && citizenshipId.touched}"
              [(ngModel)]="agentToEdit ==null? '' : agentToEdit.agent.citizenshipId" #citizenshipId="ngModel" required>

              <mat-option *ngFor="let country of countries" [value]=country.countryId>
                {{country.name}}
              </mat-option>

            </mat-select>

          </mat-form-field>

          <div i18n="the warning message (Country required)"
            *ngIf="citizenshipId.errors?.required && citizenshipId.touched" class="invalid-feedback">
            Country required
          </div>

        </div>

        <div class="col-md-2 togglebutton vertical-center">
          <label i18n="the label for agent active toggle button (Active)">Active
            <input type="checkbox" [(ngModel)]="agentToEdit ==null? false : agentToEdit.active" name="active"
              #agentActive="ngModel">
            <span class="toggle"></span>
          </label>
        </div>

        <div class="col-md-2 select-field">
          <mat-form-field class="example-full-width vertical-Citizen">
            <mat-select i18n-placeholder="the list of agencies (Agency)" placeholder="Agency" name="agencyId"
              (valueChange)='agencyChange($event)'
              [(ngModel)]="agentToEdit ==null? '' : agentToEdit.agent.branch.agency.agencyId" #agentAgency="ngModel"
              [ngClass]="{'is-invalid':agentAgency.errors && agentAgency.touched}" required>
              <mat-option *ngFor="let agency of agencies" [value]=agency.id>
                {{agency.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div i18n="the warning message (Agency required)" *ngIf="agentAgency.errors?.required && agentAgency.touched"
            class="invalid-feedback">
            Agency required
          </div>

        </div>

        <div class="col-md-2 select-field">
          <mat-form-field class="example-full-width vertical-Citizen">
            <mat-select i18n-placeholder="the list of branches (Branch)" placeholder="Branch" name="branchId"
              [(ngModel)]="agentToEdit ==null? '' : agentToEdit.agent.branch.branchId" #agentBranch="ngModel"
              [ngClass]="{'is-invalid':agentBranch.errors && agentBranch.touched}" required>

              <mat-option *ngFor="let branch of branches" [value]=branch.id>
                {{branch.name}}
              </mat-option>

            </mat-select>
          </mat-form-field>

          <div i18n="the warning message (Branch required)" *ngIf="agentBranch.errors?.required && agentBranch.touched"
            class="invalid-feedback">
            Branch required
          </div>

        </div>

        <div class="col-md-2 select-field">
          <mat-form-field class="example-full-width vertical-Citizen">
            <mat-select i18n-placeholder="the list of roles (Role)" placeholder="Role" name="roleId"
              [(ngModel)]="agentToEdit ==null? '' : agentToEdit.roleId" #agentRole="ngModel"
              [ngClass]="{'is-invalid':agentRole.errors && agentRole.touched}" required>

              <mat-option *ngFor="let role of roles" [value]=role.rolId>
                {{role.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div i18n="the warning message (Role required)" *ngIf="agentRole.errors?.required && agentRole.touched"
            class="invalid-feedback">
            Role required
          </div>

        </div>

        <div class="col-md-2 vertical-center ceo">
          <!-- To show in the form -->
          <input type="checkbox" [(ngModel)]="agentToEdit == null? false : agentToEdit.agent.ceo" name="ceoToShow"
            [disabled]="!setCeo" #ceoToShow="ngModel">
          <label i18n="the label for CEO (CEO)">CEO</label>
          <!-- to send data to database -->
          <input [hidden]="!ceo" type="checkbox" [(ngModel)]="agentToEdit == null? false : agentToEdit.agent.ceo"
            name="ceo" #agentCeo="ngModel">
          <input [hidden]="!loginId" type="text" [(ngModel)]="agentToEdit == null? 0 : agentToEdit.loginId"
            name="loginId" #agentLoginId="ngModel">
        </div>
      </div>
      <a class="btn btn-sm btn-rose pull-right clear" (click)="agentForm.reset(); clear()">Clear Fields</a>
      <input type="submit" i18n-value="label for submit button (Submit)" value="Submit"
        class="btn btn-sm btn-rose pull-right">
      <div class="clearfix"></div>
    </form>
  </div>
</div>