.vertical-center {
    margin: 3% 0% 0% 0%;
}

.toggler {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.vertical-bottom {
    margin: 14% 0% 0% 0%;
}

.vertical-Citizen {
    margin: 1.7em 0em 0em 0em;
}

.togglebutton label input[type=checkbox]:checked+.toggle {
    background-color: #e91e63;
}

.mat-option:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #e91e63;
    background: #e91e63 !important;
    color: #fff !important;
}

.ceo input[type=checkbox] {
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    transform: scale(1.5);
    margin-right: 1em;
}

.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #e91e63 !important;
}

.clear {
    color: white !important;
}

.category {
    color: black;
}

.card-title {
    margin-top: 15px;
    color: #3C4858;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.4em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.card .card-body {
    padding: 35px 95px 35px 95px;
    position: relative;
}

.select-field div.invalid-feedback{
    display: block;
}