<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">ballot</i>
            </div>
            <a routerLink="/terms" class="card-title">
              <h3>Terms</h3>
            </a>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">school</i>
            </div>
            <a routerLink="/type-of-school" class="card-title">
              <h3>Type of School</h3>
            </a>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">book</i>
            </div>
            <a routerLink="/type-of-program" class="card-title">
              <h3>Type of Program</h3>
            </a>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 ml-auto mr-auto">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">description</i>
            </div>
            <a routerLink="/discipline" class="card-title">
              <h3>Discipline</h3>
            </a>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>