.difPadding {
    padding-bottom: .35em !important;
}

.mat-option:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #e91e63;
    background: #e91e63 !important;
    color: #fff !important;
}

.margin-left {
    margin-left: 4.5em;
}

.margin-button {
    margin-left: 4.5em;
    margin-bottom: 1em;
}

/* @media (max-width: 1800px) {

    .col-xl-2 {
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
        padding-left: 3rem !important;
    }
} */

/* @media (min-width: 1900px) {

    .col-xxl-1 {

        flex: 0 0 8.33333333%;
        max-width: 8.33333333%;
    }

    .col-xxl-7 {
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%;
    }
} */